body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    }
body.remove-background {
    background-image: none;
    background-color: #FFFFF8;
}
header {
    position: fixed;
    font-size: 2em;
    top: -30px;
    left: -20px;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    font-style: italic;
}
#game-title {
    position: fixed;
    text-align: center;
    top: 0px;
    font-size: 2.5em;
    font-family: Elena, sans-serif;
    font-style: bold;
}
.lobby {
    position: absolute;
    width: 500px;
    height: 600px;
    top: 175px;
    left: 650px;
    background: transparent;
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    backdrop-filter:blur(10px);
    box-shadow: 0 0 20px rgba(0,0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    }

.lobby .players {
    position: fixed;
    font-size: 1.7em;
    text-decoration: underline;
    top: -20px;
    left: 20px;
    display: flex;
}

.btn {
    position: fixed;
    bottom: -50px;
    left: 30px;
    font-size: 1.5em;
    border: 2px solid #827717;
    cursor: pointer;
}

.tutorialBtn {
    position: fixed;
    bottom: -50px;
    left: 190px; 
    font-size: 1.5em;
    border: 2px solid #827717;
    cursor: pointer;
}

#instructions {
    display: none;
    position: absolute;
    right: -240px; 
    top: 80%; 
    transform: translateY(-50%);
    width: 200px; 
    background-color: white; 
    border: 2px solid black; 
    padding: 10px; 
}

.btn1 {
    position: fixed;
    bottom: -50px;
    right: 30px;
    font-size: 1.5em;
    border: 2px solid #827717;
    cursor: pointer;
}
.btnStart {
    position: relative;
    right: -180px;
    top: -330px;
    font-Size: 1.5em;
    border: 3px;
    border: 2px solid #827717;
    cursor: pointer;
    z-index: 99;
    overflow: visible;

}
.Player-name {
    position: relative;
    display: inline-block;
    width: 20%;
    line-height: 45px;
}
.score {
    position: relative;
    display: inline-block;
    width: 5%;
    line-height: 45px;
}
.score-name {
    position: relative;
    display: inline-block;
    width: 20%;
    line-height: 45px;
    text-align: center;
}
#container {
    position: relative;
    align-items: center;
    width: 500px;
    height: auto;
    float: right;
    margin-left: 50px;
    right: -585px;
    top: -200px;
    transform: scale(1);
}
.leader {
    right: -660px !important;
}
#wordGridContainer {
    position: relative;
    align-items: center;
    width: 500px;
    height: auto;
    margin-left: 50px;
    float: left;
    right: -585px;
    top: -200px;
    transform: scale(1);
}
.leaderboard-row {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    border: 4px solid #000;
    text-indent: 5px;
    letter-spacing: 1.4px;
    font-weight: bold;
    font-size: 1.1em;
    
}
.ribbon {
    position: fixed;
    left: 170px;
    bottom: 185px;
    font-size: 18px;
}
.row {
    position: relative;
    display: block;
    width: 100.5%;
    height: 40px;
    border: 3px solid #000;
    border-top: 1px;
    font-weight: bold;
}
.words-found-name {
    position: relative;
    display: inline-block;
    width: 20%;
    line-height: 45px;
    text-align: center;
    padding-right: 10px;
}
.Player1 {
    padding-left: 30px;
    
}
.Player2 {
    padding-left: 30px;
}
.Player3 {
    /*background-color: rgba(50, 218, 50, 0.671);  row color for Player 3 */
    padding-left: 30px;
}
.Player4 {
    /*background-color: rgba(243, 243, 54, 0.658);  row color for Player 4 */
    padding-left: 30px;
}
.words-found {
    position: relative;
    display: inline-block;

    line-height: 45px;
    text-indent: 5px;
}
.hidden {
    display: none;
    transition: ease-in-out;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
}
.appear {
    display: visible;
}
.scale {
    transform: scale(0);
}
.chat {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 30%;
    max-width: 400px;
    height: 40%;
    max-height: 400px;
    border: 1px solid #ccc;
    padding: 2%;
    border-radius: 5px;
    overflow: hidden;
}

#chatBox {
    height: 80%;
    overflow-y: scroll;
    border-bottom: 1px solid #ddd;
    padding: 2%;
}

.text-icon {
    position: relative;
    bottom: -345px;
    left: -22px;
}

.td {
    cursor: pointer;
    border: 1px solid black;
    width: 20px;
    height: 15px;
    text-align: center;
}
.highlight-color-player1 {
    background: rgba(204, 50, 50, 0.63); /* Highlight color for Player 1 */
}

.highlight-color-player2 {
    background: rgba(40, 40, 165, 0.692); /* Highlight color for Player 2 */
}


.highlight-color-player3 {
    background: lime; /* Highlight color for Player 3 */
}


.highlight-color-player4 {
    background: yellow; /* Highlight color for Player 4 */
}
table{
    border-collapse: collapse;
}
td.selected {
    background: lime; /* Default highlight color */
}

#wordGrid {
    position: fixed;
    left: 50px;
    top: 115px;
}

.lobby-players {
    position: relative;
    font-family: cursive;
    left: -750px;
    top: -10px;
    font-size: 2.1em;
    padding-top: 5px; /* Keep vertical padding unchanged */
    padding-bottom: 15px;
    padding-left: 40px; /* Increase left padding */
    padding-right: 40px; /* Increase right padding */
    line-height: 2.5;
}
.border {
    position: relative;
    top: 0px;
    left: -975px;
    width: 325px; /* Set width of the box */
    height: 375px; /* Set height of the box */
    border: 2px solid #0a1b52; /* Add border */
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.lobby-player1,
.lobby-player2,
.lobby-player3,
.lobby-player4 {
    text-indent: -35px;
}

.horizontal-line {
    position: fixed;
    top: 100px;
    height: 1.5px; /* Set the height of the line */
    width: 100%; /* Set the width to span from left to right */
    background-color: #000; /* Set the color of the line */
    font-weight: bold;
}
.color-box {
    position: relative;
    top: -200px;
    left: 0px;
}
.box1-color {
    position: relative;
    border: 1.5px solid #000;
    top: -40px;
    left: -1px;
    width: 15px;
    height: 15px; 
    margin: 10px;
    z-index: 99;
    background: rgba(204, 50, 50, 0.63);
}
.box2-color {
    position: relative;
    top: -40px;
    left: -1px;
    border: 1.5px solid #000;
    width: 15px;
    height: 15px;
    margin: 10px;
    background-color: rgba(40, 40, 165, 0.692);
    
}
.box3-color {
    position: relative;
    border: 1.5px solid #000;
    top: -40px;
    left: -1px;
    width: 15px;
    height: 15px;
    margin: 10px;
    background: greenyellow;
}
.box4-color {
    position: relative;
    border: 1.5px solid #000;
    top: -40px;
    left: -1px;
    width: 15px;
    height: 15px;
    margin: 10px;
    background: yellow;
}